html, body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling on body */
}

header {
  position: fixed; 
  width: 100%; /* Full width */
  z-index: 1; /* Above other content */
  background-color: white; 
}


body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}


body.dark-theme .mat-toolbar {
    background: #333;
}

