<header>
    <!-- <app-navbar></app-navbar> -->
</header>
<main role="main">
    <div class="scroll-container">
        <section id="about" class="section">
            <app-about></app-about>
        </section>
        <section id="connect" class="section">
            <app-connect></app-connect>
        </section>
        <section id="blog" class="section">
            <app-blog></app-blog>
        </section>
        <section id="projects" class="section">
            <app-project></app-project>
        </section>
    </div>
</main>