<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="logo">
            <img src="assets/images/cgPic.JPG" alt="Profile-Pic" class="profile-photo"/>
        </a>
    </div>
    <button (click)="toggleTheme()">
      <span *ngIf="themeService.isDark(); else lightIcon">🌙</span>
      <ng-template #lightIcon>☀️</ng-template>
      </button>
    <button class="hamburgerMenu" (click)="toggleMenu()" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="nav-list" [class.active]="isMenuActive" id="navList">
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Connect</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
    </ul>
</nav>