<div class="about-container">

    <div class="photoText">
        <div class="flexpad">
            <a href="#" class="logo">
                <img src="assets/images/cgPic.JPG" alt="Profile-Pic" class="profile-photo" />
            </a>
            <h1>{{ name }}</h1>
            <h2> - Full Stack Dev</h2>

            My fascination with technology began in childhood, surrounded by technologies such as the desktop computer,
            TVs, VCR/DVD and gaming consoles. I was intrigued by how these systems are able to do their "magic" under the
            hood,
            sparking my desire to understand their inner workings. I got my first "Ooo" moment when I found out about
            programming, and many "Aha!" moments of success since then; even till this day as I continue learning,
            developing and
            growing with the ever evolving industry of technology!
        </div>
    </div>

    <div class="bottom">

        <div class="skills">
            <h3>Skills</h3>
            <ul>
                <li *ngFor="let skill of skills">{{ skill }}</li>
            </ul>
        </div>

        <div class="aspire">
            <h3>Aspirations</h3>
            <ul>
                <li *ngFor="let aspire of aspires">{{ aspire }}</li>
            </ul>
        </div>

        <div class="hobbies">
            <h3>Hobbies</h3>
            <ul>
                <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
            </ul>
        </div>

    </div>
</div>