<div class="about-container">
    <div class="photoText">
        <div class="left">
            <a href="#" class="logo">
                <img src="assets/images/cgPic.JPG" alt="Profile-Pic" class="profile-photo" />
            </a>
        </div>
        <div class="right">
            Myfascination with technology began in childhood, surrounded by technologies such as the desktop computers,
 TVs, VCR/DVD and console games. I was intrigued by how these systems are able to do their "magic" under the hood,
 sparking my desire to understand their inner workings. I got my first "Ooo" moment when I found out about
 programming, and many "Aha!" moments of success since then; even till this day as I continue learning, developing and
 growing with the ever evolving industry of technology
        </div>
    </div>

    <div class="bottom">
        <div class="bio">
            <h2>{{ name }}</h2>
            <p>{{ bio }}</p>
        </div>

        <div class="skills">
            <h3>Skills</h3>
            <ul>
                <li *ngFor="let skill of skills">{{ skill }}</li>
            </ul>
        </div>

        <div class="hobbies">
            <h3>Hobbies</h3>
            <ul>
                <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
            </ul>
        </div>
    </div>
</div>