.connect-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 5px;
    gap: 5px;
  }
  
  .section-container {
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px; 
  }
  
  .content-container span {
    font-size: 1.5rem; 
    font-weight: bold; 
  }

  #resumecv a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

  .content-container a:hover {
    text-decoration: underline;
  }

  a {
    color:#8b8b8b
  }

  .contact-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

.content-container, .section-container {
    background-color: inherit;
  }

  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .section-container {
      flex: 1 1 100%;
    }
  }