<div class="connect-container">
    <div class="section-container">
        <div class="content-container"><span>Connect with me!</span></div>
        <div class="content-container">
            <div> Resume Icon : Resume | Cv Icon : CV</div>
            <div>
                <ul>
                    <li>
                        <a href="https://github.com/chrisCodes141">Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/chris-guzowski/">Linkedin</a>
                    </li>
                    <li>
                        <a href="mailto:coderchris141@gmail.com">coderchris141 AT gmail.com</a>
                    </li>
                    <li>
                        Phone icon: +1 - (646) 427 2324
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="content-container">Say Hi! Or something -></div>
        <div class="content-container">
            <app-form-contact></app-form-contact>
        </div>
    </div>
</div>