<div class="connect-container">
    <div class="section-container">
        <h3>Connect with me!</h3>
        <div>
            <div id="resumecv">   
                <a href="assets/documents/resume.pdf" download>
                    <mat-icon>description</mat-icon> Resume
                </a>
                <a href="assets/documents/cv.pdf" download> <mat-icon>badge</mat-icon> CV</a></div>
            <div>
                <ul class="contact-list">
                    <li>
                        <mat-icon>code</mat-icon>
                        <a href="https://github.com/chrisCodes141">Github</a>
                    </li>
                    <li>
                        <mat-icon>business</mat-icon>
                        <a href="https://www.linkedin.com/in/chris-guzowski/">Linkedin</a>
                    </li>
                    <li>
                        <mat-icon>email</mat-icon>
                        <a href="mailto:coderchris141@gmail.com">coderchris141&#64;gmail.com</a>
                    </li>
                    <li>
                        <mat-icon>phone</mat-icon>
                        +1 (646) 427 2324
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3>Say Hi! Or something -></h3>
        <div class="content-container">
            <app-form-contact></app-form-contact>
        </div>
    </div>
</div>