
<!--Blogs View-->
<div *ngIf="view === true">

    <h2>Blog List</h2>

    <div *ngFor="let blog of blogs; let i = index" class="blog">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.text }}</p>
        <button (click)="deleteBlog(i)">X</button>
    </div>
    
    <button (click) = "blogsView()" class="pulse"> create a blog</button>

    <ul *ngFor="let blog of blogs"></ul>

</div>


<!--Create Blogs View-->
<div *ngIf="view === false">
    <h2>Create a Blog!</h2>
    
   
    <div class="form__group field">

        <input type="input" class="form__field"[(ngModel)]="title" placeholder="Enter Blogs Title" required="">
        <label for="name" class="form__label">Enter Blogs Title</label>

    </div>
    
    
    <p></p>

    <div class="form__group field">

        <textarea [(ngModel)]="text" class="form__field" placeholder="Enter Blogs Text"></textarea>
        <label for="name" class="form__label">Enter Blogs Text</label>

    </div>

    <p></p>
    <button (click)="addBlog()" class="pulse">Add Blog</button>

    <p></p><p></p>

    <button (click) = "blogsView()" class="pulse"> Back to Blogs List</button>
</div>