/* General Styling */
.blog-container, .blog-form-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

/* Blog List Styling */
.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  align-items: stretch;
}

.blog {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(141, 141, 141, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(141, 141, 141, 0.25);
}

/* Delete Button */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.delete-btn:hover {
  background-color: darkred;
}

/* Read More Button */
.read-more-btn {
  background: transparent;
  border: none;
  color: #7c7c7c;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 0;
}

.read-more-btn:hover {
  text-decoration: underline;
}


/* From Uiverse.io by mrhyddenn (edited by Christopher Guzowski) */ 
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: inherit;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__group textarea.form__field {
  border-bottom: 2px solid #9b9b9b;
  font-size: 17px;
  color: inherit;
  background: transparent;
  min-height: 100px;
  resize: vertical;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #c7c7c7, #3d3d3d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #868686;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}