<!-- Blogs View -->
<div *ngIf="view" class="blog-container">
    <h2>Blogs</h2>

    <div class="blog-list">
        <div *ngFor="let blog of blogs; let i = index" class="blog">
            <button (click)="deleteBlog(i)" class="delete-btn">X</button>
            <h3>{{ blog.title }}</h3>
            
            <p class="blog-text" [class.expanded]="expandedBlogs[i]">
                {{ expandedBlogs[i] ? blog.text : (blog.text | slice:0:150) + (blog.text.length > 150 ? '...' : '') }}
            </p>
        
            <button *ngIf="blog.text.length > 150" (click)="toggleExpand(i)" class="read-more-btn">
                {{ expandedBlogs[i] ? 'Read Less' : 'Read More' }}
            </button>
        </div>
    </div>

    <button (click)="blogsView()" class="pulse">Create a Blog</button>
</div>

<!-- Create Blogs View -->
<div *ngIf="!view" class="blog-form-container">
    <h2>Create a Blog!</h2>

    <div class="form__group field">

        <input type="input" class="form__field"[(ngModel)]="title" placeholder="Enter Blogs Title" required="">
        <label for="name" class="form__label">Enter Blogs Title</label>

    </div>
    
    
    <p></p>

    <div class="form__group field">

        <textarea [(ngModel)]="text" class="form__field" placeholder="Enter Blogs Text"></textarea>
        <label for="name" class="form__label">Enter Blogs Text</label>

    </div>

    <button (click)="addBlog()" class="pulse">Add Blog</button>
    <button (click)="blogsView()" class="pulse">Back to Blogs List</button>
</div>